# Ignore IDE files
*.iml
.idea/
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Ignore Gradle files
.gradle/
build/
.cxx/
.externalNativeBuild/
captures/

# Ignore local config
local.properties
/local.properties

# Ignore system files
.DS_Store
Thumbs.db

# Ignore APK files (important!)
*.apk
/app/release/*
